{% extends "layout.html" %}
{% block title %}Login | {% endblock %}
{% block maincontent %}
<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-4" id="login-form">
            <span class="h3">Login</span><br><br>
            <form action="{{url_for('user_module.login') }}" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col me-auto">
                            <button type="submit" class="btn btn-primary">Login</button>

                        </div>
                        <div class="col">
                            <a href="{{url_for('user_module.register')}}"> Create your account</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
{% endblock %}